<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blood Pressure record list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Blood Pressure</h1>
	<div>
		<form th:object="${bloodpressures}" th:action="@{../save}" action="#"
			method="post">
			<label for="mDate">Date</label> <input type="date"
				id="mDate" th:field="*{measurementDate}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="upper">Upper</label> <input type="number" id="upper"
				th:field="*{upper}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<label for="lower">Lower</label> <input type="number" id="lower"
				th:field="*{lower}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="pulse">Pulse</label> <input type="number" id="pulse"
				th:field="*{pulse}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<input type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>