<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blood Pressure List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<!-- import the css to the html -->
</head>
<body>
	<h1>Blood Pressure records</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Date</th>
				<th>Upper</th>
				<th>Lower</th>
				<th>Pulse</th>
			</tr>
			<tr th:each="bloodpressure: ${bloodpressures}">

				<td
					th:text="${#temporals.format(bloodpressure.measurementDate, 'dd.MM.yyyy')}"></td>
				<td th:text="${bloodpressure.upper}"></td>
				<td th:text="${bloodpressure.lower}"></td>
				<td th:text="${bloodpressure.pulse}"></td>
				<td><a th:href="@{/delete/{id}(id=${bloodpressure.id})}"
					class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{id}(id=${bloodpressure.id})}"
					class="btn btn-warning">Edit</a></td>
			</tr>
		</tbody>
	</table>

	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>

	<a href="/add" class="btn btn-success">Add Blood Pressure</a>
	<!-- the href redirects the button to the add section in the controller and executes it -->
</body>
</html>